/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********************************* app styles *******************************/
html {
  height: 100vh;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}
body {
  background: rgb(255,255,255);
  background: linear-gradient(167deg, rgba(255,255,255,1) 44%, rgba(190,190,190,1) 100%);
}
body.main-lesson {
  background: rgb(255,255,255);
  background: linear-gradient(167deg, rgba(255,255,255,1) 44%, rgba(145,193,114,1) 100%);
}
body.scene-lesson {
  background: rgb(255,255,255);
  background: linear-gradient(167deg, rgba(255,255,255,1) 44%, rgba(193,114,114,1) 100%);
}

.media-item {
  width: 100%;
}
.vid-links a,
.control-links a {
  display: block;
  padding: 10px;
}

#dynamicForm {
  padding: 20px;
}
#dynamicForm button {
  margin-left: 40px;
}

@media only screen and (min-width: 800px) {
  .flex-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: calc(100vh - 66px);
  }
  .flex-item {
    flex: 100%;
  }
  .media-container {
    text-align: center;
  }
  .media-item {
    height: 100%;
  }
}

/* based on https://css-tricks.com/responsive-iframes/ */
/*[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > video,
[style*="--aspect-ratio"] > img,
[style*="--aspect-ratio"] > html {
  height: auto;
}
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}*/